:root {
    --star-color-A: white;
    --star-color-B: transparent;
}

html,
body {
    height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    font-family: "Modak", sans-serif;
}

body {
    background: linear-gradient(0deg, rgba(148, 187, 233, 1) 0%, rgba(194, 174, 238, 1) 86%);
}

#welcome {
    color: white;
    font-size: 120px;
    font-weight: 450;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

.circle {
    position: absolute;
    background-color: var(--star-color-A);
    border-radius: 50%;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.blink_1 {
    animation-name: blink10;
}

.blink_2 {
    animation-name: blink20;
}

.blink_3 {
    animation-name: blink30;
}

.blink_4 {
    animation-name: blink40;
}

.blink_5 {
    animation-name: blink50;
}

@keyframes blink10 {

    0%,
    100% {
        background-color: var(--star-color-A);
    }

    20% {
        background-color: var(--star-color-B);
    }
}

@keyframes blink20 {

    0%,
    100% {
        background-color: var(--star-color-B);
    }

    40% {
        background-color: var(--star-color-A);
    }
}

@keyframes blink50 {

    0%,
    100% {
        background-color: var(--star-color-A);
    }

    50% {
        background-color: var(--star-color-B);
    }
}

@keyframes blink30 {

    0%,
    100% {
        background-color: var(--star-color-A);
    }

    60% {
        background-color: var(--star-color-B);
    }
}

@keyframes blink40 {

    0%,
    100% {
        background-color: var(--star-color-B);
    }

    80% {
        background-color: var(--star-color-A);
    }
}
#entry {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 10%;
}

#cinn {
    position: relative;
    z-index: 1;
}

.thought {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    min-width: 40px;
    max-width: 220px;
    min-height: 40px;
    margin: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
}

.thought:before,
.thought:after {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: -1;
}

.thought:before {
    width: 44px;
    height: 44px;
    top: -12px;
    left: 28px;
    box-shadow: -50px 30px 0 -12px #fff;
}

.thought:after {
    bottom: -10px;
    right: 26px;
    width: 30px;
    height: 30px;
    box-shadow: 40px -34px 0 0 #fff,
        -28px -6px 0 -2px #fff,
        -24px 17px 0 -6px #fff,
        -5px 25px 0 -10px #fff;

}